<div class="row">
    <div class="col-sm-1">
        <img src="/assets/amf/img/contact.png">
    
    </div>

    <div class="col-sm-3">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("First Name") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="{{ _('First Name') }}" id="first_name" value="{{ doc.first_name or "" }}">
            </div>
        </div>
        
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Last Name") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="{{ _('Last Name') }}" id="last_name" value="{{ doc.last_name or "" }}">
            </div>
        </div>

        
    </div>
    
    <div class="col-sm-3">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Email") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="{{ _('Email') }}" id="email" value="{{ doc.email_id or "" }}">
            </div>
        </div>
        
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Phone") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="{{ _('Phone') }}" id="phone" value="{{ doc.phone or "" }}">
            </div>
        </div>

        
    </div>
    
    <div class="col-sm-3">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Address") }}</label>
            <div class="input-group">
                {{ address_display }}
            </div>
        </div>
        
    </div>
    
    <div class="col-sm-2">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Company") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-star" aria-hidden="true"></i></span>
                <a href="{{ customer_url or '#' }}" class="form-control">{{ customer_name or doc.company_name or "" }}</a>
            </div>
        </div>
    </div>
</div>
