<script>
function link_customer() {
    frappe.prompt([
        {
            "fieldname": "customer", 
            "fieldtype": "Link", 
            "label": __("Customer"), 
            "options": "Customer", 
            "get_query": function(doc) {
                 return {
                     filters: {
                         "disabled": 0
                     }
                 }
            },
            "reqd": 1
        }  
    ],
    function(values) {
        let child = cur_frm.add_child("links");
        frappe.model.set_value(child.doctype, child.name, "link_doctype", "Customer");
        frappe.model.set_value(child.doctype, child.name, "link_name", values.customer);
        cur_frm.set_value("company_name", values.customer);
        cur_frm.refresh_field("links");
    },
    __("Link customer"),
    __("Link")
    )
}
</script>
<div class="row">
    <div class="col-sm-1">
        <img src="/assets/amf/img/contact.png">
    
    </div>

    <div class="col-sm-3">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("First Name") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <input type="text" 
                    class="form-control" 
                    placeholder=`{{ _("First Name") }}`
                    id="first_name" 
                    value="{{ doc.first_name or "" }}"
                    onchange="cur_frm.set_value(`first_name`, this.value);">
            </div>
        </div>
        
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Last Name") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <input type="text" 
                    class="form-control" 
                    placeholder=`{{ _("Last Name") }}` 
                    id="last_name" 
                    value="{{ doc.last_name or "" }}"
                    onchange="cur_frm.set_value(`last_name`, this.value);">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-column" style="padding-top: 10px;">
                <label class="control-label" style="padding-right: 0px;">{{ _("CSAT") }}</label>
                <div class="input-group">
                {% if csat %}
                    <a class="form-control">{{ csat }}</a>
                {% else %}
                    <a class="form-control">{{ "" }}</a>
                {% endif %}
                </div>
            </div>
        </div>
    
        <div class="col-sm-2">
            <div class="form-column" style="padding-top: 10px;">
                <label class="control-label" style="padding-right: 0px;">{{ _("NPS") }}</label>
                <div class="input-group">
                    {% if nps %}
                        <a class="form-control">{{ nps }}</a>
                    {% else %}
                        <a class="form-control">{{ "" }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        
    </div>


    
    
    <div class="col-sm-3">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Email") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder=`{{ _("Email") }}` id="email" value="{{ doc.email_id or "" }}">
            </div>
        </div>
        
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Phone") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder=`{{ _("Phone") }}` id="phone" value="{{ doc.phone or "" }}">
            </div>
        </div>

        
    </div>
    
    <div class="col-sm-3">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Address") }}</label>
            <div class="input-group">
                {{ address_display }}
            </div>
        </div>
    </div>
    
    <div class="col-sm-2">
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Company") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-star" aria-hidden="true"></i></span>
                {% if customer_url %}
                    <a href="{{ customer_url }}" class="form-control">{{ customer_name or doc.company_name or "" }}</a>
                {% else %}
                    <button class="btn" onclick="link_customer();">Link</button>
                {% endif %}
            </div>
        </div>
        
        <div class="form-column" style="padding-top: 10px;">
            <label class="control-label" style="padding-right: 0px;">{{ _("Status") }}</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                <select
                     class="form-control" 
                     id="status"
                     onchange="cur_frm.set_value(`status`, this.value);" >
                        {% for o in (status.options or "").split("\n") %}
                            <option value="{{ o }}" {% if status.value == o %}selected{% endif %}>{{ o }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>

    </div>
</div>
